
.jumbotron {
    background-color: lightpink;
    color: black;
    height: 10px;
}

.footer {
    padding: 10px 10px 0px 10px;
    background-color: lightpink;
    margin-bottom: 0px;
    margin-top:10px;
}

.card-producto {
    flex: 1 150px;
    padding: 10px 30px 30px 10px;
    margin-top: 10px ;
    margin-left: 2px;
    margin-right: 2px;
    
    border-width: thin;
    border-style: groove;
    border-color: black;
    
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 1%;
    border-top-right-radius: 25%;
    border-top-left-radius: 1%;
    
}

.btn-producto{
    background-color: violet;
    border-color: violet;
    /*width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;*/

}